/* all sites */

body{
    background-color: #B0BEC5;
    color:#000000;
    margin-top:4.5em;
    margin-bottom:4.5em;
}

a{
    color: dimgrey;
}
a:hover{
    color: #FFA000;
}

h2{
    background-color: dimgrey;
    text-align: center;
}

/* navigation */

nav button{
    background-color: #FFA000 !important;
}

nav a:hover{
    color: #FFA000 !important;
}

.nav-link{
    text-align: center;
}
/* footer */

footer a{
    font-weight: 600 !important;
}

/* flash messages */

.flashes h4 {
    line-height: 2;
}

/* register form */

form i, form button i{
    font-size: 125%;
}

form .btn{
    margin:0;
}

form a{
    font-weight: 600;
}

/* profile */

.p-left .col{
    padding-left: 0;
}

/* catalog */

.offset{
    margin-left: 10%;
    margin-right: 10%;
}

.img-backgrund{
    background-color: #0e0e0e;
    padding-left: 0;
    padding-right: 0;
}

.img-backgrund img{
    width: 100%;
    top: 0;
    bottom: 0;
}

@media (min-width: 768px){
    .img-backgrund img {
        max-width: 550px;
    }
}

@media (min-width: 992px){
    .img-backgrund img {
        position: absolute;
    }
}

@media (min-width: 1200px){
    .img-backgrund img {
        max-width: 395px;
        left: 1.5em;
    }
}

/* add new coin */

.md-form .validate{
    margin-bottom: inherit;
}

.offset label{
    padding-top: 0.66em;
}

@media (max-width: 576px){
    .offset label {
        text-align: center;
    }
}

.form-control{
    color: inherit ;
}

/* I used some of this code for select: https://www.codeseek.co/pudgereyem/material-design-andltselectandgt-element-css-only-PqBxQx */
/* Style Select Field */
select {
    font-family: inherit;
    background-color: inherit;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    border: none;
}

option{
    /* change option colors */
    background-color: #2e2e2e;
    color: #FFA000;
}

/* Use custom arrow */
.mdl-selectfield select {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    /* remove border */
    border: none;
    border-bottom: 1px solid #ced4da;
}

.mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
}

.mdl-selectfield:after {
    position: absolute;
    top: 1em;
    right: 2em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid #ffc107;
    pointer-events: none;
}