/* all sites */

body{
    background-color: #B0BEC5;
    color:#000000;
    margin-top:4.5em;
    margin-bottom:4.5em;
}

a{
    color: dimgrey;
}
a:hover{
    color: #FFA000;
}

h2{
    background-color: dimgrey;
    text-align: center;
}

/* navigation */

nav button{
    background-color: #FFA000 !important;
}

nav a:hover{
    color: #FFA000 !important;
}

.nav-link{
    text-align: center;
}
/* footer */

footer a{
    font-weight: 600 !important;
}

/* flash messages */

.flashes h4 {
    line-height: 2;
}

/* register form */

form i, form button i{
    font-size: 125%;
}

form .btn{
    margin:0;
}

form a{
    font-weight: 600;
}

/* profile */

.p-left .col{
    padding-left: 0;
}

/* catalog */

.offset{
    margin-left: 10%;
    margin-right: 10%;
}

.img-backgrund{
    background-color: #0e0e0e;
    padding-left: 0;
    padding-right: 0;
}

.img-backgrund img{
    width: 100%;
    top: 0;
    bottom: 0;
}

@media (min-width: 768px){
    .img-backgrund img {
        max-width: 550px;
    }
}

@media (min-width: 992px){
    .img-backgrund img {
        position: absolute;
    }
}

@media (min-width: 1200px){
    .img-backgrund img {
        max-width: 395px;
        left: 1.5em;
    }
}