{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">Catalog</h1>
<!-- loop through a coins table and extract a data -->
{% for coin in coins %}
    <div class="row offset">
        <div class="card col mb-4">
            <div class="row row-cols-1 row-cols-lg-2">
                <!--Card image-->
                <div class="col img-backgrund">
                    <img class="my-lg-auto" src="{{ coin.image }}" alt="{{ coin.name }}">
                </div>
                <!--Card content-->
                <div class="col elegant-color amber-text">
                    <h4 class="card-title text-center my-4">{{ coin.description }}</h4>
                    <div class="row col-form-label">
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Name:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.name }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Type:</p>
                        </div>
                        <div class="col-7">
                            <p >{{ coin.type }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Weight:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.weight }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Mint:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.mint }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Country:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.country }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Purity:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.purity }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Year:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ coin.year }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}