{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">Edit coin</h1>
<div class="row no-gutters">
    <!-- Card from: https://mdbootstrap.com/docs/b4/jquery/forms/inputs/-->
    <form class="card col offset"  method="POST" action="{{ url_for('edit_coin', id=coin._id) }}">
        <div class="card-body elegant-color amber-text text-center rounded">
            <!-- title -->
            <h4 class="card-title text-uppercase">Edit coin</h4>
            <hr class="hr-light mb-3 mb-sm-5">
            <div class="row">
                <div class="col-lg-6">
                    <!-- coin name -->
                    <div class="row my-3">
                        <label for="name" class="col-sm-3 px-1 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Coin name" min="5"
                                max="30" value="{{ coin.name }}" required>
                        </div>
                    </div>
                    <!-- coin type -->
                    <div class="row my-3 mdl-selectfield">
                        <label for="type" class="col-sm-3 px-1 col-form-label">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="type" name="type" required>
                                <option disabled>Coin type</option>
                                {% for option in type %}
                                    {% if option.type == coin.type %}
                                        <option value="{{ option.type }}" selected>{{ option.type }}</option>
                                    {% else %}
                                        <option value="{{ option.type }}">{{ option.type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- coin weight -->
                    <div class="row my-3">
                        <label for="weight" class="col-sm-3 px-1 col-form-label">Weight</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="weight" name="weight" placeholder="Coin weight" min="1"
                                max="10" value="{{ coin.weight }}" required>
                        </div>
                    </div>
                    <!-- coin country -->
                    <div class="row mt-3">
                        <label for="country" class="col-sm-3 px-1 col-form-label">Country</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="country" name="country" placeholder="Country" min="3"
                                max="50" value="{{ coin.country }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- coin purity -->
                    <div class="row my-3">
                        <label for="purity" class="col-sm-3 px-1 col-form-label">Purity</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="purity" name="purity" placeholder="Purity" min="5"
                                max="20" value="{{ coin.purity }}" required>
                        </div>
                    </div>
                    <!-- coin mint -->
                    <div class="row my-3">
                        <label for="mint" class="col-sm-3 px-1 col-form-label">Mint</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="mint" name="mint" placeholder="Coin mint" min="5"
                                max="30" value="{{ coin.mint }}" required>
                        </div>
                    </div>
                    <!-- coin year -->
                    <div class="row my-3">
                        <label for="year" class="col-sm-3 px-1 col-form-label">Year</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="year" name="year" placeholder="Coin year" min="1"
                                max="4" value="{{ coin.year }}" required>
                        </div>
                    </div>
                    <!-- coin description -->
                    <div class="row mt-3">
                        <label for="description" class="col-sm-3 px-1 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description"
                                placeholder="Description" min="5" max="80" value="{{ coin.description }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- coin image -->
                    <div class="row my-3">
                        <label for="image" class="col-sm-3 px-1 col-lg-1 mx-lg-3 col-form-label">Image</label>
                        <div class="col-sm-9 col-lg-10 pl-lg-4 pr-lg-0">
                            <input type="url" class="form-control" id="image" name="image" placeholder="Image" value="{{ coin.image }}" required>
                            <small class="text-muted mr-md-5">PLEASE INSERT URL LINK</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="row mx-0 my-3">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 btn-group px-0" role="group" aria-label="edit and delete buttons">
                    <!-- Update button -->
                    <button type="submit" class="btn btn-md btn-blue-grey mx-1 mx-md-2 mx-xl-4 px-2">Update</button>
                    <!-- Cancel button -->
                    <a href="{{ url_for('profile', user_email=session['user_email']) }}" class="btn btn-md btn-mdb-color mx-1 mx-md-2 mx-xl-4 px-2">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}