{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">Profile</h1>
<!-- loop in a user table to match user email and session cookie -->
{% for data in users %}
    {% if data.email == user_email %}
        <div class="row no-gutters">
            <!-- Card from: https://mdbootstrap.com/docs/b4/jquery/forms/inputs/-->
            <div class="card col-sm-12 col-lg-8 offset-lg-2">
                <div>
                    <img class="card-img-top" src="../static/images/unsplash-simon-zRxLgc-o56I.jpg" alt="Profile image">
                </div>
                <div class="card-body elegant-color amber-text text-center rounded-bottom p-left">
                    <!-- title -->
                    <h4 class="card-title text-uppercase">Your profile details</h4>
                    <hr class="hr-light">
                    <!-- first name -->
                    <div class="row my-3">
                        <div class="col">
                            <p class="col-form-label text-right"><i class="fas fa-user-tie mx-3"></i>First name:</p>
                        </div>
                        <div class="col">
                            <p class="col-form-label text-left ml-sm-4">{{ data.first_name.capitalize() }}</p>
                        </div>
                    </div>
                    <!-- last name -->
                    <div class="row my-3">
                        <div class="col">
                            <p class="col-form-label text-right"><i class="fas fa-user-tie mx-3"></i>Last name:</p>
                        </div>
                        <div class="col">
                            <p class="col-form-label text-left ml-sm-4">{{ data.last_name.capitalize() }}</p>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="row my-3">
                        <div class="col">
                            <p class="col-form-label text-right"><i class="fas fa-envelope mx-2"></i>Email adderss:</p>
                        </div>
                        <div class="col">
                            <p class="col-form-label text-left ml-sm-4">{{ data.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}